#loader {
	display: none !important;
}

.parallax-mirror {
	display: none !important;
}

#concept {
	background: url('../images/concept-bg.jpg') no-repeat scroll;
	background-size: cover;
	background-position: center;
}

#header.header {
	background-attachment: scroll;
}
.rv3.service-item {
    border-left:  1px solid #e1e1e1;
    border-right:  1px solid #e1e1e1;
}