@media only screen and (min-width: 1200px) {
	header {
		min-height: 650px;
	}
	.header.rv2{
		min-height: auto ;
	}
	.sedebar-wraper {
	    padding-left: 30px;
	}
/*home v2 */

/* end home version 2 */

} /*end of (min-width: 1200px)*/



@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.slider-text h4 {
		font-size: 36px;
	}

	.slider-text h2 {
		font-size: 68px;
	}

	.project {
		width:20%;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 232px;
	}

	#achievement-counters .project:first-child {
		border-left:0;
	}

	#achievement-counters .project:last-child {
		border-right:0;
	}

	.project .counter {
		font-size: 50px;
	}

	.footer-left input[type="submit"] {
		padding:0;
	}


/*home v2 */
#location.location-rv2 .contact-form {
    width: 90%;
}
/* end home version 2 */


} /*end of (min-width: 992px) and (max-width: 1199px)*/





@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-text h3 {
	    font-size: 30px;
	}
	a.navbar-brand {
		font-size: 26px;
	}

	.main-menu li {
		padding-left: 12px;
	}

	.slider-text h4 {
		font-size: 30px;
	}

	.slider-text h2 {
		font-size: 62px;
	}

	.project {
		width:20%;
		padding-top: 50px;
		padding-bottom: 50px;
		min-height: 232px;
	}

	#achievement-counters .project:first-child {
		border-left:0;
	}

	#achievement-counters .project:last-child {
		border-right:0;
	}

	.project .counter {
	font-size: 50px;
	}

	.contest-wrapper {
		min-height:300px;
	}

	.content-mask h2 {
		margin-top: 5%;
	}

	.concept-images img:nth-child(2) {
		right:50px;
	}

	.footer-left input[type="submit"] {
		font-size: 12px;
		padding: 0;
	}

	.item img {
		width:90px;
	}

/*home v2 */
	.header.rv2 .main-menu li a{
		font-size: 15px;
	}
	.featured-item {
	    padding: 30px 15px 21px;
	}

	.rv2-icon-1 i:before {
	    font-size: 35px;
	}
	.rv2-icon-1{
		margin-bottom: 15px;
	}
	.single-event .title-3,
	.title-3 {
	    font-size: 17px;
	    margin-bottom: 15px;
	    line-height: 25px;
	}
	#location.location-rv2 .contact-form {
	    width: 100%;
	    padding-right: 15px;
	}
	h2.primary-title.rv2 {
	    font-size: 30px;
	}
	.counter-item span, .counter-item .counter {
	    font-size: 30px;
	    line-height: 30px;
	}
	.counter-item h3.title-3 {
	    margin-top: 8px;
	}
	.pad-50 {
	  /*  padding-top: 30px;
	    padding-bottom: 30px;*/
	}
	.service-item {
	    padding-left: 20px;
	    padding-right: 20px;
	    text-align: center;
	}
	.single-event ul li {
	    margin-right: 10px;
	    font-size: 13px;
	}
	.portfolio-filter.rv2 ul li {
	    font-size: 15px;
	    float: left;
	}
	.single-post ul li a {
	    font-size: 13px;
	}
	.single-post ul li {
	    margin-right: 3px;
	}
	.single-post:hover .post-img a {
	    padding: 10px 15px;
	}
/* end home version 2 */
/* single page */
	.featured .img-left {
	    width: 80px;
	}
	.featured .blog-title-info {
	    width: calc(100% - 105px);
	}
	.featured .blog-title-info h6 a {
	    line-height: initial;
	}
	.meta-info .social-meta,
	.meta-info .tag {
	    width: 100%;
	    text-align:  left;
	}
	.meta-info .social-meta{
		margin-top: 20px;
	}
	.tag-rv2 a {
	    padding: 5px 10px;
	    margin-right: 5px;
	}
/* single page end*/
} /*end of (min-width: 768px) and (max-width: 991px)*/






@media only screen and (max-width: 767px) {

	header {
		min-height: 300px;
	}

	.slider-text h4 {
		font-size: 28px;
	}

	.slider-text h2 {
		font-size: 62px;
	}

	.navbar-toggle {
		background-color: #f1f1f1;
	}

	.navbar-toggle .icon-bar {
		background: #333;
	}

	.img-thumb,
	.img-wrapper {
		margin-bottom: 35px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.img-wrapper img {
		width: 100%;
	}


	.project {
		width: 20%;
		padding: 35px 5px;
		min-height: 225px;
	}

	.project .counter {
		font-size: 32px;
	}


	#achievement-counters .project:first-child {
		border-left: 0;
	}

	 #achievement-counters .project:last-child {
		border-right: 0;
	}

	.contest-wrapper {
		margin-bottom: 35px;
		max-width: 400px;
		margin-left:auto;
		margin-right: auto;
	}


	.concept-images img:nth-child(2) {
		right:20px;
	}

	.contest-wrapper img {
		width:100%;
	}

	.content-mask h2 {
		margin-top: 5px;
	}

	.quote-author-thumb i {
		font-size: 60px;
		padding: 20px;
	}

	.quote-text {
		overflow: hidden;
	}

	.single-team {
		max-width:400px;
		margin-left: auto;
		margin-right: auto;
	}

	.single-team img {
		display: block;
		width:100%;
	}

	.portfolio {
		width: 50%;
	}


	.image-content {
	    top: 50%;
	    margin-top: -42px;
	}

	.image-content h3 {
		font-size: 18px;
	}


	.instagram-images a {
		max-width: 120px;
	}

	.quote-carousel-control {
		position: absolute;
		top: 93%;
		font-size: 34px;
		color: #fff;
		background: #295970;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 20px;
		line-height: 40px;
	}

	.right.quote-carousel-control {
		right: 45%;
		margin-right: -20px;
	}

	.left.quote-carousel-control {
		left: 45%;
		margin-left: -20px;
	}

	.item img {
		width:80px;
	}

	.concept-images img:first-child {
		max-width: 440px;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height: 100%;
	}
	
	nav.navbar {
		box-shadow: 0 0 1px rgba(32, 32, 32, 0.35);
		background-color: #295970;
		padding-top: 0;
		z-index: 1;
	}


	.main-menu li {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main-menu li a {
		padding-left: 15px;
	}

	.main-menu li a:hover {
		border-bottom:0;
		background: #295970;
		color:#fce38a;
	}

	#location .contact-form {
		padding-right: 15px;
	}

	.contact-form-wrapper {
		height: auto;
	}

	#location .location-map {
		width:100%;
	}

	#gmap {
		height: 350px;
		width:100%;
	}


/*home v2 */
	.rv2 nav.navbar {
	    padding-top: 0px;
	    background: #23dac9;
	}
	.header.rv2  .main-menu li.active a{
		color: #252525 ;
	}
	.header.rv2 .main-menu li .search-icon{
		padding-left: 15px;
	}
	.slider-text h3 {
	    font-size: 30px;
	}
	h2.primary-title.rv2 {
	    font-size: 25px;
	}
	#location.location-rv2 .contact-form {
	    width: 100%;
	    padding-right: 15px;
	}
	.featured-item {
	    top: initial;
	    margin-top: 50px;
	}
	.story.mrg-50 {
	    margin-top: 100px;
	}
	.story-menu {
	    margin-bottom: 30px;
	}
	.service-item {
	    width: 100%;
	}
	.service-item:last-child {
	    border-bottom: 1px solid #e6e5e5;
	}
	.counter-item span, .counter-item .counter {
	    font-size: 30px;
	    line-height: 30px;
	}
	.counter-item h3.title-3 {
	    margin-top: 8px;
	}
	.rv2-icon-1{
		margin-bottom: 15px;
	}
	.rv2-icon-1 i:before {
	    font-size: 35px;
	}
	.single-post .title-3,
	.single-event .title-3 {
	    font-size: 17px;
	    margin-bottom: 15px;
	    line-height: 25px;
	}
	.single-event ul li {
	    margin-right: 10px;
	    font-size: 13px;
	}
	.rv2.team .team-wrap{
	    margin-bottom:  50px;
	}
	.event-img img {
	    width: 100%;
	}
	.cta-title {
	    font-size: 20px;
	}
	.btn-rv {
	    padding: 5px 15px;
	}
	.portfolio-rv2 img {
	    width: 100%;
	}
	.portfolio-wrapper .col-xs-12 {
	    width: 50%;
	}
	
	.contact-form-position {
	    position: relative;
	    left: 0;
	    right: 0;
	    width: 100%;
	    padding-top: 50px;
	}
	.single-post ul li a {
	    font-size: 13px;
	}
	.single-post ul li {
	    margin-right: 3px;
	}
	.single-post:hover .post-img a {
	    padding: 10px 15px;
	}
	.single-team .single-team-wrapper {
	    opacity: 1;
	}
	.single-event .event-img:before {
	    opacity: 0.75;
	}
	.portfolio-rv2:before {
	    visibility: visible;
	    background: #23dac9;
	    opacity: 0.85;
	}
	.portfolio-rv2 a {
	    visibility: visible;
	    opacity: 1;
	}
	.newsletter-title {
	    text-align: center;
	    margin-bottom: 15px;
	}
	.post-pagination li {
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	}
/* end home version 2*/
/* single page and widget */
	.meta-info .social-meta,
	.meta-info .tag {
	    width: 100%;
	    text-align:  left;
	}
	.meta-info .social-meta{
		margin-top: 20px;
	}
	.tag-rv2 a {
	    padding: 5px 10px;
	    margin-right: 5px;
	}
	.comment-list {
	    padding: 0;
	}
	.comment-title {
		font-size: 25px;
	}
	.comment-form h1{
		font-size: 25px;
	}
/* single page and widget */

}  /* end of (max-width: 767px) */


@media only screen and (max-width: 667px) {

	.slider-text h4 {
		font-size: 22px;
	}

	.slider-text h2 {
		font-size: 42px;
	}


	.small-divider {
		margin: 25px auto 30px;
	}

	a.explore {
		bottom: 10px;
	}
	
/*home v2 */
	.rv2 .nav.navbar{
		background: #23
	}
	.cta-title {
	    font-size:18px;
	    display: block;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.cta-content a {
	    text-align: center;
	    float: none;
	}
	.cta-content {
	    text-align: center;
	}
	.row-middle{
		display: block;
	}
	
	.portfolio_rv2-button .rv2-title {
	    text-align: center;
	    float: none;
	}
	.portfolio_rv2-button .rv2-title:before{
	    right: 0;
	    left: 0;
	}
	.portfolio_rv2-button .rv2-title:after {
	    right: inherit;
	    left: calc(50% + 10px);
	}
	.portfolio-filter.rv2 ul li {
	    font-size: 15px;
	    margin-top: 12px;
	    float: left;
	    padding: 5px 10px;
	}
	.portfolio-wrapper .col-xs-12 {
	    width: 100%;
	}
/* end home version 2 */

} /*end of (max-width: 667px)*/


@media only screen and (max-width: 479px) {

	h2 {
		font-size: 26px;
	}

	.slider-text h4 {
		font-size: 22px;
	}

	.slider-text h2 {
		font-size: 42px;
	}

	.concept-images img:first-child {
		width:100%;
	}

	.concept-images img:nth-child(2) {
		position: absolute;
		max-width: 150px;
		bottom: -50px;
		right: 0;
	}

	.content-mask h2 {
		margin-top: 10%;
	}

	.content-mask p {
		display: none;
	}

	.quote-author-thumb {
		display: none;
	}

	.right.quote-carousel-control {
		right: 20px;
		margin-right: -20px;
	}

	.left.quote-carousel-control {
		left: 20px;
		margin-left: -20px;
	}

	.footer-left input[type="submit"] {
		font-size: 12px;
		padding: 0;
	}

	#portfolio p.text-center {
		padding-left:15px;
		padding-right:15px;
	}

	.project {
		width: 50%;
		border: 0;
		padding: 5px 15px;
		min-height: 155px;
	}

	.image-content h3 {
		font-size: 18px;
	}

	#gmap {
		height: 300px;
	}

	.small-divider {
		margin: 25px auto 30px;
	}

	a.explore {
		bottom: 10px;
	}
/*home v2 */

/* end home version 2 */

} /*end of (max-width: 479px)*/




